/bin/*
/.gradle/*
/.settings/*
/build/*
/eclipse/*
/gradle/*
/run/*
.classpath
.gitattributes
.project
build.gradle
gradlew
gradlew.bat
BetterModels_Client.launch
BetterModels_Server.launch
settings.gradle
/Storage/*
/bin/